$color_container_bg: #eee;
$color_container_shadow: #ccc;
$color_container_border: #ccc;
$color_main_font: #000;
$color_second_font: #fff;
$shadow_box: 3px 3px 5px;
// далее для :hover
$color_container_bg_hover: rgb(176, 220, 250);
$color_container_shadow_hover: rgb(29, 165, 255);
$color_container_border_hover: rgb(29, 165, 255);
$shadow_box_hover: 0px 0px 15px 3px;