$color_container_bg: #eee;
$color_container_shadow: #ccc;
$color_container_border: #ccc;
$color_main_font: #000;
$color_second_font: #fff;
$shadow_box: 3px 3px 5px;
// далее для :hover
$color_container_bg_hover: rgb(176, 220, 250);
$color_container_shadow_hover: rgb(29, 165, 255);
$color_container_border_hover: rgb(29, 165, 255);
$shadow_box_hover: 0px 0px 15px 3px;
// modal
$width_modal: 50%;
$height_modal: 50%;
$color_modal_header_bg: #ccc;
$color_modal_body_bg: #fff;
// modal window
$color_modal_shadow_dark: rgb(73, 73, 73);
$color_modal_header: rgb(6, 143, 255);
$color_modal_body: #fff;
$color_modal_footer: #eee;
$color_modal_line_dark: rgb(73, 73, 73);
$color_modal_close: rgb(185, 17, 17);
$color_modal_close_hover: rgb(250, 134, 134);
//button
$color_button_1_active: rgb(19, 99, 3);
$color_button_1_passive:rgb(73, 99, 68);
$color_button_1_hover:rgb(11, 59, 2);
$color_button_2_active: rgb(0, 86, 199);
$color_button_2_passive:rgb(167, 204, 253);
$color_button_2_hover:rgb(0, 45, 104);
//font
$color_font_main: #000;
$color_font_secondary: #fff;
//error
$collor_error_font: rgb(197, 45, 45);