.App {
  width: 100%;
}

.container {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.container_hover {
  width: 92%;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 3px 3px 5px #ccc;
          box-shadow: 3px 3px 5px #ccc;
  cursor: pointer;
}

.container_hover:hover {
  border: solid 1px #1da5ff;
  background-color: #b0dcfa;
  -webkit-box-shadow: 0px 0px 15px 3px #1da5ff;
          box-shadow: 0px 0px 15px 3px #1da5ff;
}

.product_box {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 3px 3px 5px #ccc;
          box-shadow: 3px 3px 5px #ccc;
  border: 1px solid #ccc;
  cursor: pointer;
}

.product_box:hover {
  border: solid 1px #1da5ff;
  background-color: #b0dcfa;
  -webkit-box-shadow: 0px 0px 15px 3px #1da5ff;
          box-shadow: 0px 0px 15px 3px #1da5ff;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}

.modal .shadow {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: 21;
  cursor: pointer;
}

.modal .modal_window {
  width: 50%;
  min-height: 50%;
  position: absolute;
  background-color: #fff;
  top: 130px;
  left: 25%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 22;
}

.modal .modal_window .modal_close {
  position: absolute;
  top: -32px;
  right: -32px;
  width: 35px;
  height: 35px;
  font-size: 1.35rem;
  text-align: center;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 22;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.modal .modal_window .modal_close:hover {
  color: #fff;
  background-color: red;
  border: 2px solid #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.modal .modal_window .modal_header {
  width: 100%;
  height: 50px;
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .modal_window .modal_header .modal_header_text {
  padding: 8px 30px;
  font-size: 1.75rem;
}

.modal .modal_window .modal_body {
  width: 100%;
  height: 50%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}
