.App {
  width: 100%;
  color: #000;
}

.container {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.container_hover {
  width: 92%;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 3px 3px 5px #ccc;
          box-shadow: 3px 3px 5px #ccc;
  cursor: pointer;
}

.container_hover:hover {
  border: solid 1px #1da5ff;
  background-color: #b0dcfa;
  -webkit-box-shadow: 0px 0px 15px 3px #1da5ff;
          box-shadow: 0px 0px 15px 3px #1da5ff;
}

.product_box {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 3px 3px 5px #ccc;
          box-shadow: 3px 3px 5px #ccc;
  border: 1px solid #ccc;
  cursor: pointer;
}

.product_box:hover {
  border: solid 1px #1da5ff;
  background-color: #b0dcfa;
  -webkit-box-shadow: 0px 0px 15px 3px #1da5ff;
          box-shadow: 0px 0px 15px 3px #1da5ff;
}
